/* App.css */

/* 전체 페이지 스타일 */
.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 헤더 스타일 */
  .App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  /* 메인 컨텐츠 스타일 */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
  }
  
  /* 푸터 스타일 */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #282c34;
    color: white;
  }
  